TESTNET=testnet
SOURCE_TESTNET=deployer          # stellar keys generate --global deployer --network testnet
ADMIN=                           # G... address of the token admin
INITIAL_SUPPLY=1000000000000000  # 1,000,000 HIL (7 decimals)
